services:
    - App\Product\Forms\ProductFormFactory
    - App\Product\Forms\AddCategoryFormFactory
    - App\Product\Forms\EditCategoryFormFactory
    - App\Product\Forms\AddDiningTableFormFactory
    - App\Product\Forms\EditDiningTableFormFactory

    - App\Product\Action\AddCategoryAction
    - App\Product\Action\EditCategoryAction
    - App\Product\Action\AddProductAction
    - App\Product\Action\EditProductAction
    - App\Product\Action\AddTableAction
    - App\Product\Action\EditTableAction

    - App\Product\ORM\ProductRepository
    - App\Product\ORM\CategoryRepository
    - App\Product\ORM\DiningTableRepository

    - App\Product\Services\CodeValidator
    - App\Product\Services\ProductsInGroupGenerator
