services:
    - App\Product\Forms\AddCategoryFormFactory
    - App\Product\Forms\EditCategoryFormFactory

    - App\Product\Action\AddCategoryAction
    - App\Product\Action\EditCategoryAction

    - App\Product\ORM\ProductRepository
    - App\Product\ORM\CategoryRepository

    - App\Product\Services\CodeValidator
