.sidebar {
    background-color: white;
    min-height: 100vh;
}

.item-active {
    background-color: rgb(240 240 240);
}

.sidebar .links a:hover {
    background-color: #d2f4ea;
}

@media (max-width: 991.98px) {
    .sidebar {
        display: none !important;
    }
}
