{layout @layout.latte}
{block body}
    <main class="d-flex flex-nowrap">
        {control adminMenu, $currentCompany}

        <div class="main-content">
            <div class="opacity-10">
                {control breadcrumb}
            </div>
            <div class="container-fluid">
                {include content}
            </div>
        </div>
    </main>
{/block}
